@(user: Option[securesocial.core.Identity], card: QSLCard)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

@main("Viewing QSL Card #" + card.id, user) {
<h1 class="center">QSL Card #@card.id</h1>
<div class="clearfix padtop padbottom">
  <div id="qslcard" class="center">
    @card.sides.reverse.map { side =>
      <img src="@side.route" class="card" />
    }
  </div>

  <h2>Comments</h2>
  @card.comments.map { comment =>
    <p>@comment._1.comment</p>
    <span>@comment._2.fullName</span>
  }
</div>
}
